Bin/
Build/
Temp/
Languages/
Temp-Language/
Backup/
Source/node_modules
Source/config.json
Source/npm-debug*
Source/Output.log
Source/Classes/Core - Kopie.js
Source/Classes/Core - Kopie (2).js
Source/Classes/Steam OLD.js
Source/Classes/Steam - Kopie.js
package-lock.json
en_US.json
/.vs
