ui-alert {
	display: block;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

ui-alert.info {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

ui-alert.error {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

ui-alert.warning {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

ui-alert.okay {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}