::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-button:end:increment {
	height: 22px;
    width: 10px;
    background: #3e3e42 no-repeat 50% 50%;
    background-size: 8px;
	background-image: url('../Resources/arrow_down.svg');
}

::-webkit-scrollbar-button:end:increment:hover {
	background-image: url('../Resources/arrow_down_hover.svg');
}

::-webkit-scrollbar-button:start:decrement {
	height: 22px;
    width: 10px;
    background: #3e3e42 no-repeat 50% 50%;
    background-size: 8px;
	background-image: url('../Resources/arrow_up.svg');
}

::-webkit-scrollbar-button:start:decrement:hover {
	background-image: url('../Resources/arrow_up_hover.svg');	
}

::-webkit-scrollbar-thumb {
	background: #686868;
	border: 5px solid #3e3e42;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

::-webkit-scrollbar-thumb:active {
  background: #efebef;
}

::-webkit-scrollbar-track {
  background: #3e3e42;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:not(input)::selection, :not(input)::-webkit-selection, *:not(input)::selection {
	background:	transparent;
	background:	rgba(255, 255, 255, 0);
}

.selectable::selection, .selectable::-webkit-selection, .selectable::selection {
	background:	initial;
}

* {
	cursor: default;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-smooth: always;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling:	touch;
	font-family: sans-serif;
}

*, *:hover, *:focus, *:active {
	outline: none !important;
}

*:not(input), *:focus:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline-style:none;/*IE*/
}

.selectable, .selectable * {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	outline-style:auto;
}

.monaco-editor .monaco-scrollable-element .scrollbar.horizontal,
.monaco-editor .decorationsOverviewRuler,
.monaco-editor .monaco-scrollable-element .scrollbar.vertical .arrow-background {
	background: #3e3e42;
}

.vs-dark .monaco-scrollable-element > .scrollbar > .slider {
	background: rgba(104, 104, 104, 0.8);	
}

.vs-dark .monaco-scrollable-element > .scrollbar.vertical > .slider {
	margin: 5px;
	width: 8px !important;
}

.vs-dark .monaco-scrollable-element > .scrollbar.horizontal > .slider {
	height: 8px !important;
	margin: 5px;
}

.vs-dark .monaco-scrollable-element > .scrollbar > .slider:hover {
	background: #9e9e9e;
}

.monaco-editor .monaco-scrollable-element .scrollbar.vertical {
	  background: rgba(62, 62, 66, 0.5);
}

.hc-black .monaco-scrollable-element>.scrollbar>.up-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.up-arrow {
	height: 22px !important;
    width: 10px !important;
    background: #3e3e42 no-repeat 50% 3px !important;
    background-size: 8px !important;
	background-image: url('../Resources/arrow_up.svg') !important;
}

.hc-black .monaco-scrollable-element>.scrollbar>.up-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.up-arrow:hover {
	background-image: url('../Resources/arrow_up_hover.svg') !important;	
}

.hc-black .monaco-scrollable-element>.scrollbar>.down-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.down-arrow {
	height: 22px !important;
    width: 10px !important;
    background: #3e3e42 no-repeat 50% 100% !important;
    background-size: 8px !important;
	background-image: url('../Resources/arrow_down.svg') !important;
}

.hc-black .monaco-scrollable-element>.scrollbar>.down-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.down-arrow:hover {
	background-image: url('../Resources/arrow_down_hover.svg') !important;
}

.hc-black .monaco-scrollable-element>.scrollbar>.left-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.left-arrow {
	height: 10px !important;
    width: 22px !important;
    background: #3e3e42 no-repeat 4px 50% !important;
    background-size: 8px !important;
	background-image: url('../Resources/arrow_left.svg') !important;
}

.hc-black .monaco-scrollable-element>.scrollbar>.left-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.left-arrow:hover {
	background-image: url('../Resources/arrow_left_hover.svg') !important;
}

.hc-black .monaco-scrollable-element>.scrollbar>.right-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.right-arrow {
	height: 10px !important;
    width: 22px !important;
    background: #3e3e42 no-repeat 14px 50% !important;
    background-size: 8px !important;
	background-image: url('../Resources/arrow_right.svg') !important;
}

.hc-black .monaco-scrollable-element>.scrollbar>.right-arrow, .vs-dark .monaco-scrollable-element>.scrollbar>.right-arrow:hover {
	background-image: url('../Resources/arrow_right_hover.svg') !important;
}