ui-menu {
	position: relative;
	display: flex;
	font-size: 14px;
    z-index: 1;
}

ui-menu ui-entry {
    display: flex;	
}

ui-menu ui-entry button {
	flex: 1;
	border: none;
	background: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	color: #FFFFFF;
	z-index: 1;
}

ui-menu ui-entry button:hover {
	background: #3E3E40;
	border-color: #3E3E40;
}

ui-menu ui-entry:hover button {
	background: #1B1B1C;
	border-color: #3E3E40;
}

ui-menu ui-entry:hover button.submenu {
	border-bottom-color: #1B1B1C;
}

ui-menu ui-entry ui-dropdown {
	display: none;
	position: absolute;
	color: #FFFFFF;
	background: #1B1B1C;
	border: 1px solid #3E3E40;
	margin: 18px 0 0 0;
    z-index: 0;
	min-width: 200px;
}

ui-menu ui-entry ui-dropdown:before {
	content: "";
	display: block;
	background: rggba(255, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

ui-menu ui-entry:hover button + ui-dropdown {
	display: block;
}

ui-menu ui-entry:hover button + ui-dropdown ui-dropdown {
	display: none;
}

ui-menu ui-entry ui-dropdown menu-seperator {
	flex-direction: row;
	display: flex;
	flex: 0 0 auto;
	background: #3E3E40;
	width: 100%;
	height: 1px;
}

ui-menu ui-entry ui-dropdown button {
	flex-direction: row;
	position: relative;
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	border: none;
	padding: 3px 10px;
	font-size: 12px;
}

ui-menu ui-entry ui-dropdown button keyboard-shortcut {
	display: block;
	position: absolute;
	right: 2px;
	top: 4px;
	font-size: 8px;
	padding: 2px;
	color: rgba(255, 255, 255, 0.5);
}

ui-menu ui-entry ui-dropdown button:hover {
	background: #3E3E40;
}

ui-menu ui-entry ui-dropdown ui-dropdown {
	display: none;
	margin: -25px 0 0px 0 !important;
	left: 100%;
}