
ui-menu {
	position: relative;
	display: flex;
	font-size: 14px;
    z-index: 1;
}

ui-menu ui-entry {
    display: flex;	
}

ui-menu ui-entry button {
	flex: 1;
	border: none;
	background: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	color: #FFFFFF;
	z-index: 1;
}

ui-menu ui-entry button:hover {
	background: #3E3E40;
	border-color: #3E3E40;
}

ui-menu ui-entry button:focus, ui-menu ui-entry button:active {
	background: #1B1B1C;
	border-color: #3E3E40;
}

ui-menu ui-entry:has(> ui-dropdown) button:focus, ui-menu ui-entry:has(> ui-dropdown) button:active {
    border-bottom-color: #1B1B1C;
}

ui-menu ui-entry ui-dropdown {
	display: none;
	position: absolute;
	color: #FFFFFF;
	background: #1B1B1C;
	border: 1px solid #3E3E40;
	margin: 18px 0 0 0;
    padding: 5px;
    z-index: 0;
}

ui-menu ui-entry button:focus + ui-dropdown, ui-menu ui-entry button:active + ui-dropdown {
	display: block;
}
