html {
    margin: 0px;
    padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #2D2D30;
	border: 1px solid #ED5C2D;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

section-header {
	background: rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
    margin: -52px 0 10px 0;
    padding: 55px 10px 10px 10px;
    font-size: 12px;
	z-index: -1;
}

section-header h1 {
	font-size: 13px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

section-header p {
	font-size: 11px;
    color: #FFFFFF;
    padding: 5px 0 0 10px;
    margin: 0;
}

footer {
	padding: 10px;
    text-align: center;
}